/* start of global selectors */
* {
padding: 0;
margin: 0;
box-sizing:
border-box;
}
header, footer {
background-color: red;
}
h1, h2, h3 {
color: white;
font-size: 2em;
font-weight: 600;
}
section {
border: solid black 4px;
}
body {
width: 100vw;
height: 200vh;
display: grid;
grid-template-rows: 100px 1fr 80px;
}
main {
width: 100%;
height: 100%;
}

.section1 {
background-color: green;
}
.section2 {
background-color: blue;
}
.section3 {
background-color: orange;
}
.hidden {
position: absolute;
top: auto;
left: -10000px;
width: 1px;
height: 1px;
overflow: hidden;
}
.parent {
width: 100%;
height: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 2fr;
}
/* end of class rules */
