.indexContainer{
  background-color:#565656;
}
header, nav,footer, main, aside{

width: 80%;
height: 80%;

}



/* gRID DEsign for laying header, main, aside, and footer */

.indexContainer{
  display: grid;
  grid-gap: 3px;
  grid-template-columns:repeat(3 1fr);
  grid-template-rows:60px 1fr 60px;
  grid-row: 20px;
  grid-template-areas:

  " header header header "
"main main main "
" footer footer footer";

}
.indexMain{
  grid-area: main;
}



.indexFooter{
  grid-area: footer;
}

.indexHeader{
  grid-area: header;
}

.indexContainer{
  display:grid;
}
.page2Container{
  display: grid;
  grid-gap: 5px;
  background: #4717F6;
  grid-row:90px;
  grid-template-columns: repeat(3 1fr);
    "header header header"
  " mai"
  " "
}
.page2Main{
  grid-area: main;



}

.page2Footer{
  grid-area: footer;
}

.page2Header{
  grid-area: header;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:
}
ol {
  list-style-type:none;
}


li {
  float: left;

}

li a {
  display: block;
  text-align: center;
    color: Red;


  padding:20px;
  text-decoration: none;
}
  section{
   border-style: solid;
   border-width: 3px;
   background-color:black;
   margin: 10px;
}
/* screen reader only rule */
.hidden{
  position: absolute;
top:auto;
left:-10000px;
height: 1px;
width: 1px;
}
/*  end of screen reader only rule */

body
 p{
   padding: 3px;
   margin: auto;
   border-radius: 100px;
   color:black;
   f

 }
 section{
   border-radius: 10px;

 }
 nav{
   border: : solid ;
   margin: 1px;
   grid-area: nav;

 }

 .responsive {
   width: 80%;
 }





section {
  background-color:white;
  color:blue;
  text-decoration-color:red;
}

}


.footer-style {
  border-style: dashed;
  border-color: blue;

}
